
p{
    background-color: rgb(214, 210, 210);
    color: rgb(0, 0, 0);
    text-align: justify;
    font-weight: 900;
    font-family:sans-serif;
    font-size: 15px;
    line-height: 30px;
    word-spacing:4px;
    letter-spacing: 0.3px;
    
}
   h1{
    text-align: center;
   }
   h3{
    text-align:center;
   }
